/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
body {
	text-align: center;
	background-color: white;
	font-family: brenner;
}

@keyframes background-fade {
    0% {
        background:white;
    }
    100% {
        background:black;
    }
}

#closed-captions p {
	display: none;
	transition: .05s;
	color: white;
}
#closed-captions .on {
	display: block;
}
#closed-captions .off {
	transition: .2s;
	display: none;
}
.voice1 {
	font-style: italic;
}

#video-placeholder {
	display: inline-block;
	width: 320px;
	height: 180px;
}
